@use '../abstracts' as a;

button {
  padding: 8px 34px;
  height: 44px;
  border: none;
  outline: none;
  border-radius: 50px;

  background: a.$primary-gradient;
  transition: all 0.3s ease;
  user-select: none;

  a {
    font-size: 14px;
    font-weight: a.$fw-bold;
    color: a.$white;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.5;
  }
}
