@use '../abstracts' as *;
@use '../base';

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: $white;
  width: 100%;
  height: 64px;
  display: flex;
  padding: 0 1.5rem;
  justify-content: space-between;
  z-index: 90;
  position: fixed;

  @extend %align-center;

  @include desktop {
    height: 80px;

    .navbar__menu--btn {
      display: block;
    }
  }

  &__logo {
    cursor: pointer;

    @extend %align-center;
  }

  &__icons {
    color: $dark-gray;
    opacity: 1;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;

    @include desktop {
      display: none;
    }
  }

  button {
    display: none;
  }

  &__menu {
    display: none;
    @extend %align-center;

    @include desktop {
      display: flex;
      text-align: center;
      margin-right: 2rem;

      &--links {
        color: $light-gray;
        text-decoration: none;
        justify-content: center;
        padding: 0 1rem;

        &:hover {
          color: $dark-gray;
          transition: all 0.3s ease;
        }
      }
    }
  }

  &__menu.active {
    background: white;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    height: 265px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;

    a {
      color: $dark-gray;
      margin-top: 1rem;
    }

    &::before {
      content: '';
      width: 100vw;
      height: 90vh;
      top: -16px;
      position: absolute;
      z-index: -1;
      background: linear-gradient(
        180deg,
        #2d314d 0%,
        rgba(45, 49, 77, 0.0001) 100%
      );
    }
  }
}
