@use '../abstracts/' as *;

.articles {
  padding: 4rem 1.5rem;

  &__cards {
    display: flex;
    flex-direction: column;

    .card {
      background: $white;
      border-radius: 5px;
      overflow: hidden;
      margin: 1rem 0;

      &__text {
        padding: 1.5rem 1.5rem 2rem;
        text-align: left;
      }
      img {
        width: 100%;
      }
    }
  }
  @include desktop {
    &__container {
      padding: 4rem 1.5rem;
      .articles__cards {
        flex-direction: row;
        justify-content: space-between;
        .card {
          max-width: 255px;
        }
      }
    }
  }
}
