@use '../abstracts' as *;

.info {
  background: $lighter-gray;
  width: 100vw;

  &__container {
    padding: 4rem 1.5rem;

    &--items {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .info__item {
        .icon {
          margin: 2rem 0;
          img {
            margin: auto;
          }
        }
      }
    }

    @include desktop {
      &--intro {
        width: 60%;

        p {
          margin-bottom: 4rem;
        }
      }

      &--items {
        flex-direction: row;
        justify-content: space-between;

        p {
          font-size: 16px;
        }

        .info__item {
          max-width: 255px;
        }
      }
    }
  }
}
