@use '../abstracts/' as *;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

body {
  font-family: 'Public Sans', sans-serif;
  color: $dark-gray;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: $fw-light;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: $fs-large;
  line-height: 47px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: $fs-medium;
}

p {
  color: $light-gray;
  font-size: $fs-regular;
  margin-bottom: 1rem;
}

small {
  font-size: 10px;
  color: $light-gray;
}

.articles__cards {
  h3 {
    font-size: $fs-regular;
    margin: 0.5rem 0;
  }
  p {
    font-size: 13px;
  }
}

@include desktop {
  body {
    text-align: left;
  }
  h1 {
    font-size: $fs-x-large;
    line-height: 64px;
  }

  h2 {
    font-size: $fs-large;
    line-height: 64px;
  }

  p {
    font-size: $fs-body;
  }
}
